<div id="news" class="news-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="news-post">
          <div class="thumb">
            <a><img [src]="content.filePath" alt=""></a>
          </div>
          <div class="down-content">
            <span class="category">{{content.typeName}}</span>
            <span class="date">{{content.createdDate | date: 'yyyy-MM-dd HH:mm'}}</span>
            <a>
              <h4>{{content.name}}</h4>
            </a>
            <p [innerHTML]="content.info"></p>
            <span class="author"><img src="assets/images/only-logo.png" alt="">Next Galaxy</span>
            <!-- <div class="border-first-button"><a routerLink="/news">Бусад мэдээллүүд</a></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>