<div id="news" class="news">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="section-heading">
          <!-- <h6>Мэдээлэл</h6> -->
          <h4><em>{{contents[0] ? contents[0].typeName : ''}}</em></h4>
          <div class=" line-dec"></div>
        </div>
      </div>
      <div class="col-lg-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="news-posts">
          <div class="row">
            <div class="col-lg-6" style="margin-bottom: 20px;" *ngFor="let item of contents">
              <div class="post-item">
                <div class="thumb">
                  <a [routerLink]="item.id"><img [src]="item.filePath" alt=""
                      style="height: 180px; border: 1px solid #eee;"></a>
                </div>
                <div class="right-content">
                  <!-- <span class="category">{{item.typeName}}</span> -->
                  <span class="date">{{item.createdDate | date: 'yyyy-MM-dd HH:mm'}}</span>
                  <a [routerLink]="item.id">
                    <h4>{{item.name}}</h4>
                  </a>
                  <!-- <div class="news-info-desc" [innerHTML]="item.content"></div> -->
                  <p [innerHTML]="item.info | slice:0:450"></p>
                  <!-- <div class="border-first-button" style="text-align: right;"><a [routerLink]="item.id">Дэлгэрэнгүй</a>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>