<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <!-- Section heading -->
      <div class="col-lg-12">
        <div class="section-heading wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h4>Бүтээгдэхүүн</h4>
          <div class="line-dec"></div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="naccs">
          <div class="grid">
            <div class="row">
              <!-- Menu Items -->
              <div class="col-lg-12">
                <div class="menu">
                  <ng-container *ngFor="let item of contents; let i = index">
                    <div [class.first-thumb]="i === 0" [class.last-thumb]="i === contents.length - 1"
                      [class.active]="activeTypeCode === item.typeCode" (click)="setActive(i, item.typeCode)">
                      <div class="thumb">
                        <span class="icon">
                          <img [src]="item.icon" [alt]="item.title">
                        </span>
                        {{item.title}}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- Content Items -->
              <div class="col-lg-12">
                <ul class="nacc">
                  <li *ngFor="let item of contents; let i = index" [class.active]="activeIndex === i">
                    <div>
                      <div class="thumb">
                        <div class="row">
                          <div class="col-lg-6 align-self-center">
                            <div class="left-text">
                              <h4>{{item.title}}</h4>
                              <p [innerHTML]="item.info"></p>
                              <!-- <div class="ticks-list">
                                <span *ngFor="let feature of item.features">
                                  <i class="fa fa-check"></i> {{feature}}
                                </span>
                              </div> -->
                            </div>
                          </div>
                          <div class="col-lg-6 align-self-center">
                            <div class="right-image">
                              <img [src]="item.image" [alt]="item.title">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>